.table-column {
    -fx-alignment: CENTER;
}
.table-row-cell:even {
    -fx-background-color: #b3cde0;
}
.table-row-cell:odd {
    -fx-background-color: #6497b1;
}
.table-row-cell:selected {
    -fx-background-color: #6CC7F1;
    -fx-text-background-color: black;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-padding: -1;
}
.table-view {
    -fx-background-color: linear-gradient(#011f4b 0%, #005b96 100%);
}
.table-view .filler{
    -fx-background-color: #011f4b;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: .1;
}
.table-view .column-header .arrow {
    -fx-background-color: white;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-shape: "M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10";
}
.table-view .scroll-bar {
    -fx-background-color: #011f4b;
}
.table-view .scroll-bar .increment-button:hover, .table-view .scroll-bar .decrement-button:hover {
    -fx-background-color: #b3cde0;
}
.table-view .scroll-bar .thumb {
    -fx-background-color: #b3cde0;
}
.table-view .placeholder .label{
    -fx-text-fill: white;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#011f4b 0%, #005b96 100%);
    -fx-text-fill: white;
    -fx-border-insets: 0 0 0 0;
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0 0 1 0;
}
.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.tab {
    -fx-background-color: #03396c;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab:selected {
    -fx-border-color: #BCBABA;
    -fx-border-radius: 7px;
}
.tab:hover {
    -fx-border-color: white;
    -fx-border-radius: 7px;
}
.tab-label {
    -fx-background-color: #03396c;
    -fx-text-fill: white;
}
.tab-header-background {
    -fx-background-color: #011f4b;
}